{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | Nuba Dental Admin{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}" style="color: #fff; font-weight: 700; letter-spacing: 1px; text-decoration: none;">
        Nuba Dental — Administración
    </a>
</h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block nav-global %}{% endblock %}